<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>
    <h1>All Sneakers</h1>
    <ul>
        <% sneakers.forEach((s) => { %>
            <li>
                <%= s.name %>
                    -
                <%= s.owned ? 'Owned' : 'Not Owned' %>
            </li>
        <% }); %>
    </ul>
</body>
</html>